---
---

@import "{{ site.theme }}";

body {
  color: #35343a;
  background: #f0f0f0;
}

#main_content_wrap {
  color: #35343a;
  background: #f0f0f0;
}

#forkme_banner {
  background-color: rgb(255, 125, 25);
}

img {
  max-width: 100%;
}

form {
  margin: 0 auto;
  width: 100px;
  background: #f0f0f0;
  padding: 0;
